body {
    background-color: #0e100f !important;
    color: white;
    text-align: center;
}

#root {
    text-align: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#class-icon-table {
    width: 100%;
}

#class-icons {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#class-display {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

#class-display h2 {
    font-family: "Minecraft Regular";
    font-weight: normal;
    font-size: 300%;
}

.class-icon-element {
    width: 9%;
}

.class-icon {
    width: 100%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.top-td {
    width: 25%;
    padding: 5%;
}

.health-img {
    height: 20px;
}

.health {
    font-size: 1.3em;
}

.description {
    padding-top: 10px;
    padding-bottom: 10px;
}

.modifier-element {
    padding-top: 10px;
}

.modifier {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
}

.modifier-dengar {
    font-weight: bold;
}

.modifier-positive {
    fill: green;
}

.modifier-positive text {
    fill: green;
}

.modifier-negative {
    fill: red;
}

.modifier img {
    width: 100%;
}

.modifier-dengar .modifier-icon {
    width: 30px;
    height: 30px;
}

.modifier-icon {
    width: 30px;
    height: 30px;
}

.modifier-icon svg {
    width: 20px;
    height: 20px;
}
